#sch_search_panel{
    padding: 5px;
    position: fixed;
    background: #cccccc;
    opacity: 0.5;
    border-radius: 10px;
    bottom: 20px;
    left: 50%;
    margin-left: -500px;
    font-names: Verdana;
	font-size: 12px;
	font-weight: normal;
    /*cursor: pointer;*/
    border: 1px solid #666666;
	box-shadow: 2px 2px 2px #ccc;
    color: black;
	
}
#sch_search_panel:hover{
    opacity: 1
}
#sch_search_panel table{
    /*border: 1px solid black;*/
    width: 100%;	
	padding-left: 15px;
	padding-right: 15px;
}
#sch_search_panel table td{
    text-align: center;
	padding-left: 15px;
	padding-right: 15px;
}
#sch_search_panel span{
    border-bottom: 1px dotted #333;
    cursor: pointer;
    font-weight: bold;
}
#sch_search_panel span:hover{
    border-bottom: 1px solid #333;
}
.sch_tooltip{
    /*width: 300px;*/
    background: #cccccc;
	padding: 10px;
    border-radius: 8px;
    border: 1px solid #666666;
    float: bottom;
    position: absolute;
    bottom: 5px;	
	font-size: 12px;
	font-weight: normal;
	box-shadow: 2px 2px 2px #ccc;
}
.sch_tooltip:hover{
}

.sch_tooltip a{
	text-decoration: none;
}

.sch_tooltip a:hover{
	text-decoration: underline;
}

#sch_tooltip_cont{
    width: 1000px;
    height: 1px;
    position: fixed;
    left: 50%;
    margin-left: -500px;
    padding: 5px;
    vertical-align: bottom;
    background: none;
    opacity: 1;
}